* {
	box-sizing: border-box;
	list-style: none;
}

/* p{ */
/* 	display: inline-block; */
/* } */
body {
	margin: 0;
	min-width: 992px;
	font-family: "Helvetica";
}

.navbar {
	position: relative;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 60px;
	top: 10px;
	height: 100px;
}

.logo {
	line-height: 60px;
	float: left;
}

.logo img {
	vertical-align: middle;
}

#top_menu {
	float: left;
	margin: 30px;
}

#top_menu2 {
	float: right;
}

.search {
	display: flex;
	position: relative;
	align-items: center;
	text-align: center;
	border-bottom: 1px solid;
	list-style: none;
	height: 50px;
	width: 350px;
	outline: none;
}

.search_img {
	display: inline;
}

input {
	border: none;
}

.navbar ul {
	float: right;
	margin-top: 30px;
	display: flex;
}

.li a {
	font-size: 16px;
}

.navbar li {
	list-style-type: none;
	float: left;
	margin-right: 30px;
}

.navbar a {
	text-decoration: none;
	color: black;
	font-style: bold;
	font-size: 13px;
}

.btn-right {
	margin: 30px 100px 30px 82%;
}

.page_header {
	position: relative;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 60px;
	text-align: center;
	height: 550px;
}

body h1 {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
	font-size: 24px;
	font-style: bold;
	color: #545454;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 840px;
	text-align: center;
	height: 100%;
}

.container img {
	width: 225px;
	height: 225px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.container a {
	text-decoration: none;
	color: black;
	float: left;
	font-size: 16px;
}

.wrapper {
	display: inline-block;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 80px 80px;
	grid-gap: 10px;
}

.clearfix {
	clear: both;
}

.footer {
	text-align: center;
}

.footer img {
	margin-top: 40px;
	height: 20px;
	margin-bottom: 80px;
	margin-left: 10px;
	margin-right: 10px;
}